$primary-text-color: #757575;
$title-text-color: #212121;
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #f5f4fa;
$secondary-text-color: #fff;
$footer-bg-color: #2f303a;
$primary-btn-color: #212121;
$secondary-btn-color: #2196f3;
$border-color: #eee;
$icon-primary-color: #afb1b8;
$main-font-family: 'Roboto', sans-serif;
$second-font-family: 'Raleway', sans-serif;
